<a href="https://colab.research.google.com/github/SureshGandham18/FML/blob/main/Multivariate_Startups.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MULIVARIATE LINEAR REGRESSION ON 50_STARTUPS DATASET**

Now let us import the libraries required to perform multivariate linear regression

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

And now , load the dataset into pandas dataframe

In [29]:
data=pd.read_csv("50_Startups.csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

Here with the help of head() method , we came to know the first 5 rows of the Company dataset.

Now using the drop() method remove the labelled data from the input data

In [39]:
X = data.drop('Profit', axis=1).values
y = data['Profit'].values
X = data.select_dtypes(include=np.number)

Now using the drop() method remove the labelled data from the input data

In [40]:
X.shape,y.shape

((50, 4), (50,))

In [41]:
y = y.reshape(-1,1)
X.shape,y.shape

((50, 4), (50, 1))

Here X contains the entire data except label data and y contains the label data.

To split the training data and testing data , we have to import the train_test_split from the sklearn module.

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Here we divided the entire data into training data and test data , where test data is 20% and training data is 80%.

In [43]:
X_train.shape,y_train.shape,X_test.shape,y_test.shape

((40, 4), (40, 1), (10, 4), (10, 1))

Now train the model using training data with the help of fit() method.

In [44]:
#Fitting a regression model
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

Now predict the labelled data by passing the X_train data into the target function and check the performance of the model by using MAE,MSE,RMSE and R2_Score.

In [48]:
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error
y_pred1 = reg.predict(X_train)
print(f'Performance of the model on training data :')
print(f'MAE = {mean_absolute_error(y_train, y_pred1)}')
print(f'MSE = {mean_squared_error(y_train, y_pred1)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_train, y_pred1))}')
print(f'R_2 = {r2_score(y_train, y_pred1)}')

Performance of the model on training data :
MAE = 1.3960743672214448e-11
MSE = 3.8985022269624195e-22
RMSE = 1.974462515967933e-11
R_2 = 1.0

Predict the labelled data by passing the X_test data into the target function and check the performance of the model by using MAE,MSE,RMSE and R2_Score.

In [49]:
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error
y_pred2 = reg.predict(X_test)
print(f'Performance of the model on test data :')
print(f'MAE = {mean_absolute_error(y_test, y_pred2)}')
print(f'MSE = {mean_squared_error(y_test, y_pred2)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_test, y_pred2))}')
print(f'R_2 = {r2_score(y_test, y_pred2)}')

Performance of the model on test data :
MAE = 1.3824319466948509e-11
MSE = 2.594038400966295e-22
RMSE = 1.6106018753764987e-11
R_2 = 1.0